In [100]:
import pandas as pd
import re

In [101]:
output = []

for i in range(1960,2021):
    print(i)
    p = pd.read_html("https://www.pro-football-reference.com/years/" + str(i) + "/kicking.htm")
    new = p[0].fillna(0)
    new = new[new["0-19"]["FGM"]!="FGM"]
    a = (new["0-19"]["FGM"].astype(int).sum())/new["0-19"]["FGA"].astype(int).sum()
    b = (new["20-29"]["FGM"].astype(int).sum())/new["20-29"]["FGA"].astype(int).sum()
    c = (new["30-39"]["FGM"].astype(int).sum())/new["30-39"]["FGA"].astype(int).sum()
    d = (new["40-49"]["FGM"].astype(int).sum())/new["40-49"]["FGA"].astype(int).sum()
    e = (new["50+"]["FGM"].astype(int).sum())/new["50+"]["FGA"].astype(int).sum()
    x = (new["Scoring"]["XPM"].astype(int).sum())/new["Scoring"]["XPA"].astype(int).sum()
    for index, row in new.iterrows():
        name = re.sub('[\W\_]','',row["Unnamed: 1_level_0"]["Player"])
        team = row["Unnamed: 2_level_0"]["Tm"]
        age = row["Unnamed: 3_level_0"]["Age"]
        season = i
        z = (int(row["0-19"]["FGM"]) - (a*int(row["0-19"]["FGA"])))*3
        y = (int(row["20-29"]["FGM"]) - (b*int(row["20-29"]["FGA"])))*3
        w = (int(row["30-39"]["FGM"]) - (c*int(row["30-39"]["FGA"])))*3
        v = (int(row["40-49"]["FGM"]) - (d*int(row["40-49"]["FGA"])))*3
        u = (int(row["50+"]["FGM"]) - (e*int(row["50+"]["FGA"])))*3
        t = int(row["Scoring"]["XPM"]) - (x*int(row["Scoring"]["XPA"]))
        total = z + y + w + v + u + t
        output.append([name,team,age,season,z,y,w,v,u,t,total])

1960
1961
1962
1963
1964
1965
1966
1967
1968
1969
1970
1971
1972
1973
1974
1975
1976
1977
1978
1979
1980
1981
1982
1983
1984
1985
1986
1987
1988
1989
1990
1991
1992
1993
1994
1995
1996
1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020

In [102]:
output = pd.DataFrame(output)
output.columns = ["Name","Team","Age","Season","0-19","20-29","30-39","40-49","50+","XP","Total"]

In [120]:
careers = output.groupby("Name").sum()
careers["Seasons"] = output.groupby("Name")["Season"].count()
careers["Season"] = output.groupby("Name")["Season"].min()
careers.to_csv("kickercareers.csv")

In [121]:
output.to_csv("kickerseasons.csv")

In [122]:
careers

,Season,0-19,20-29,30-39,40-49,50+,XP,Total,Seasons
Name,,,,,,,,,
AJCole,2019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
AaronElling,2003,0.000000,0.929207,-4.283016,-2.565657,-2.920056,0.782778,-8.056743,3
AaronPettrey,2010,0.000000,-2.728302,0.000000,-2.194346,0.000000,0.045305,-4.877343,1
AdamPodlesh,2007,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7
AdamVinatieri,1996,1.118182,4.361743,-12.199432,28.903364,6.048634,-5.517448,22.715044,24
...,...,...,...,...,...,...,...,...,...
ZachHocker,2015,0.000000,0.228814,-1.941176,-3.815534,-0.900000,-0.241578,-6.669475,1
ZaneGonzalez,2017,0.000000,1.054095,-2.037783,-9.437215,-1.028750,-0.319195,-11.768848,4
ZekeBratkowski,1960,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2
ZenonAndrusyshyn,1978,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1
ZoltanMesko,2010,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4